/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/

    --dark-color: #1D2123;
    --dark-alt-color:  #1A1E1F;
    --light-color: #EFEEE0;
    --secondary-color: #FACD66;
    --white-color: #FFFFFF;
    --blue-color: #609EAF;
    /* --title-color: ;
    --text-color: ;
    --text-color-light: ;
    --input-color:  ;
    --body-color:  ;
    --container-color: #fff;
    --scroll-bar-color:  ;
    --scroll-thumb-color:  ; */

    /*========== Font and typography ==========*/
    --body-font: 'Quicksand', sans-serif;

    /* font-family: 'Cabin', sans-serif; */


    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--dark-color);
    color: var(--white-color);
    overflow-x: hidden;
  }
  
  h1, h2, h3, h4 {
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }


/*==================== SCROLLBAR ====================*/



/* For Webkit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #000; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Border radius of the scrollbar thumb */
    height: 30px; /* Adjust the height of the scrollbar thumb */
}

body::-webkit-scrollbar-track {
    background-color: var(--dark-alt-color); /* Color of the scrollbar track */
    border-radius: 6px; /* Border radius of the scrollbar track */
}





/*==================== REUSABLE CSS CLASSES ====================*/

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
}



/* header */

header {
    justify-content: space-between;
    padding: 1rem;
}


.logo {
    margin-left: .5rem;
}

.search-tab {
    position: relative;
    display: flex;
    width: 90%;
    height: 3rem;
    align-items: center;
    left: -2rem;
}


@media (max-width: 768px) {
    .logo {
        margin-left: 0;
    }
}

@media (max-width: 1068px) {

    header {
        padding: 1rem 2.5rem;
    }

    .search-tab {
        display: none;
    }
}

@media (max-width: 480px) {
    header {
        padding: 1rem 1.5rem;
    }
}

.search-text {
    position: relative;
    width: 90%;
    height: 3rem;
    background-color: var(--dark-color);
    border: none;
    padding-left: var(--mb-3);
    color: var(--white-color);
}

.search-icon {
    position: absolute;
    z-index: var(--z-tooltip);
    margin-left: var(--mb-1-5);
    cursor: pointer;
}


.menu-bar {
    /* display: inline-block; */
    width: 25px;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    margin-bottom: .3rem;
    /* margin: 6px 0; */
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 24px;
    cursor: pointer;
    z-index: 10;
}

@media (min-width: 1068px) {
    .menu-icon {
        display: none;
    }
}


/* nav */

nav {
    position: absolute;
}

.nav-top {
    border-radius: 2rem;
    width: 3rem;
    margin: 2rem 0 0 1rem;
    padding: 1.5rem 0;
    place-items: center;
    display: grid;
    background: var(--dark-alt-color);
}

.nav-profile {
    border-radius: 2rem;
    width: 3rem;
    margin: 2rem 0 0 1rem;
    padding: 1.5rem 0;
    place-items: center;
    display: grid;
    background: var(--dark-alt-color);
    /* top: 20rem; */
}


nav li {
    margin-bottom: 1rem;
}

nav img {
    width: 25px;
    height: 25px;
}

.last-img {
    margin-bottom: 0;
}

.menu-text {
    display: none;
}


@media (max-width: 1068px) {
    nav {
        height: 100vh;
        position: absolute;
        top: 0;
        background-color: var(--dark-alt-color);
        width: 100%;
        z-index: 5;
        padding-left: 6rem;
        padding-top: 4rem;
    }

    .navhidden {
        display: none;
    }

    .menu-text {
        display: block;
        padding-left: 1rem;
    }

    .nav-top {
        padding: 0;
        width: auto;
        place-items: flex-start;
    }

    .nav-profile {
        margin: 0rem 0 0 1rem;
        padding: 0;
        width: auto;
        place-items: flex-start;
    }

    nav li {
        margin-bottom: 3rem;
    }
}

@media (max-width: 780px) {
    nav {
        padding-left: 2rem;
        padding-top: 1rem;
    }
}


.container-home {
    position: relative;
    margin-top: 2rem;
    margin-left: 7rem;
    gap: 2rem;
}

.curated-playlist {
    position: relative;
    padding: 3rem;
    border-radius: 2.5rem;
    background: var(--blue-color);
    height: 24rem;
    width: 60vw;
    background-image: url(/assets/img/vector-home-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 120% 10%;
}


.curated-playlist .sub-title {
    font-weight: 300;
    font-size: var(--smaller-font-size);
    margin-bottom: 5rem;
}

.curated-playlist .title {
    margin-bottom: var(--mb-1);
}

.curated-playlist .text {
    font-size: var(--small-font-size);
    letter-spacing: 0.05rem;
    font-weight: 300;
    margin-bottom: var(--mb-2);
}


.images-wrap img:nth-child(2) {
   position: relative;
   left: -1rem;
}

.images-wrap img:nth-child(3) {
    position: relative;
    left: -2rem;
 }

 .images-wrap img:nth-child(4) {
    position: relative;
    left: -3rem;
 }

 .images-wrap img:nth-child(5) {
    position: relative;
    left: -4rem;
 }


.img-home {
    position: absolute;
    top: 0;
    right: 0;
    height: 24rem;
}


.heart-wrap {
    position: relative;
    left: -3rem;
    gap: .4rem;
}

@media (max-width: 1068px) {
   .container-home {
    flex-direction: column;
    margin: 0;
   }

   .curated-playlist {
    width: 90vw;
    border-radius: 1.5rem;
   }
}

@media (max-width: 1068px) {
    .img-home  {
        display: none;
    }
 }



 @media (max-width: 670px) {
    .curated-playlist {
        position: relative;
        background-image: none;
        padding: 2rem;
    }

    .curated-playlist .text {
        font-size: var(--small-font-size);
        letter-spacing: 0.1rem;
    }

    .curated-playlist .sub-title {
        margin-bottom: 8rem;
    }

    
    
 }

 


/* Top Charts */

/* .curated-playlist {
    position: relative;
    padding: 3rem;
    border-radius: 2.5rem;
    background: var(--blue-color);
    height: 24rem;
    width: 60vw;
    background-image: url(/assets/img/vector-home-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 120% 10%;
} */


.top-charts {
    height: 24rem;
    width: 25vw;
}

.top-charts h2 {
    margin-bottom: 1rem;
}

.charts-wrap {
    border-radius: 1.25rem;
    padding: 1rem;
    background-color: var(--dark-alt-color);
    height: 6rem;
    justify-content: space-between;
    margin-bottom: var(--mb-1);
}

.heart-wrap-strokes {
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 50%;
    width: fit-content;
    padding: .2rem;
    display: grid;
}

.song-info {
    font-size: var(--smaller-font-size);
    margin-left: .8rem;
}

.singer {
    color: rgba(255, 255, 255, 0.50);
    font-size: x-small;
}

.song-length {
    font-size: x-small;
}


@media (max-width: 1068px) {

    .top-charts {
        height: auto;
        width: 100%;
        padding: 2rem;
        /* position: relative;
        overflow: hidden; */
         /* Additional styling for the content within the container
    */ } 

}

@media (max-width: 1068px) and (min-width: 480px) {

    .song-info {
        font-size: var(--font-medium);
    }

    .singer {
        font-size: var(--smaller-font-size);
    }

    .song-length {
        font-size: var(--smaller-font-size);
    }

}





    /* .charts-container  {
        
    } */

    /* .charts-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        overflow-x: scroll;
        overflow: hidden;
        white-space: nowrap; /* Prevent text from wrapping */
        /* padding-right: 2rem;
    } */ 

   
    /* .charts-wrap {
        width: 20.1875rem;
        height: 14.5625rem;
        margin-right: 1rem;
    } */





/* New releases */



.container-home h2 {
    margin-bottom: 1rem;
}

.pb {
    margin-top: 1rem;
    padding-bottom: 6rem;
}

@media (max-width: 768px) {
    .pb {
        padding-bottom: 8rem;
    }
}

@media (max-width: 1068px) {

    .new-release {
        padding-left: 1.5rem;
    }
}

.songs-container {
    /* cursor: grab; */
    overflow: hidden;
    white-space: nowrap;
}

.songs-containers {
    /* cursor: grab; */
    overflow: hidden;
    white-space: nowrap;
}



.song-wrap {
    font-size: x-small;
    padding-left: 1.5rem;
    display: inline-block;
    vertical-align: top;
}

.song-wrap:nth-child(1) {
    padding-left: 0;
}

.song-img {
    height: 9rem;
    width: 9rem;
    background-image: url(/assets/img/work-of-art.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.5rem;
}



.song-img2 {
    height: 9rem;
    width: 9rem;
    background-image: url(/assets/img/song-img2.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.song-img3 {
    height: 9rem;
    width: 9rem;
    background-image: url(/assets/img/song-img3.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.song-img4 {
    height: 9rem;
    width: 9rem;
    background-image: url(/assets/img/song-img4.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.song-title {
    padding-top: .5rem;
}

.artist {
    color: rgba(255, 255, 255, 0.50);
}

.music-player {
    position: fixed;
    height: 5rem;
    width: 100vw;
    background: rgba(29, 33, 35, 0.30);
    backdrop-filter: blur(15px);
    border: 1px solid #ffffff1a;
    bottom: 0;
    padding: 1rem 5rem;
}


@media (max-width: 1068px) {
    .music-player {
        padding: 1rem 2rem;
    }

}

@media (max-width: 780px) {
    .music-player {
        padding: 1rem 1rem;
    }
}




.player-img {
    width: 3rem;
    height: 3rem;
    margin-right: .5rem;
}


.psong-name {
    font-size: small;
}

.partist {
    font-size: x-small;
    color: rgba(255, 255, 255, 0.44);
}

.player-song-details {
  justify-content: space-between;
}

.player-btns {
    justify-content: center;
    padding-bottom: 1rem;
    width: 50vw;
}

@media (max-width: 780px) {
    .player-btns {
        width: 30vw;
    }
}

.player-btns i {
    padding-right: 1rem;
}


.progress-bar {
    width: 100%;
    height: 4px;
    border-radius: 3.125rem;
    background: rgba(255, 255, 255, 0.04);
}

.progress {
    height: 4px;
    width: 40%;
    border-radius: 3.125rem;
    background: var(--secondary-color);
}

.volume {
    gap: 1rem;
}

.volume-progress-bar {
    width: 150px;
    height: 4px;
    background: rgba(255, 255, 255, 0.04);
}


@media (max-width: 780px) {
    .volume-progress-bar {
        width: 15vw;
    }
}

.volume-progress {
    height: 100%;
    width: 70%; /* Set initial volume */
    background-color: var(--secondary-color);
}


@media (max-width: 568px) {
    .progress-bar {
        display: none;
    }


    .player-btns {
        justify-content: flex-end;
        padding-bottom: 0;
    }

    .player-btns .player-icon {
        font-size: x-large;
    }

    .player-btns .player-icon:nth-child(1) {
        display: none;
    }

    .player-btns .player-icon:nth-child(2) {
        display: none;
    }

    .player-btns .player-icon:nth-child(5) {
        display: none;
    }

    
    .volume {
        display: none;
    }
}